-form_for post do |form|
  = form.error_messages
  %p
    = form.label :title
    %br
    = form.text_field :title
  %p
    = form.label :content
    %br
    = textile_editor 'post', :content
  %p
  - if form.object.new_record?
    = form.submit 'Create'
  - else
    = form.submit 'Update'
  = textile_editor_initialize
